---
type Props = {
  title: string;
  text: string;
  href: string;
  btnText: string;
};
const { title, text, href, btnText} = Astro.props;
---

<div
  class="card w-full md:w-1/4 bg-base-200 shadow-xl border-2 border-slate-500 min-h-[230px] max-h-[230px] p-5"
>
  <a href={href} class="no-underline">
    <h2 class="card-title text-2xl font-bold">{title}</h2>
  </a>
  <div class="card-body p-1">
    <p class="pt-1 font-normal text-gray-700 dark:text-gray-400">{text}</p>
    <div class="mb-1 card-actions justify-end">
      <a role="button" class="btn btn-outline" href={href}>{btnText}</a>
    </div>
  </div>
</div>
